<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cozy Corner Bookstore</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

    <!-- ================================
            HEADER
    ================================= -->
    <header class="site-header">
        <div class="logo-title">
            <img src="/static/images/misc/logo.png" class="logo">
            <h1 class="store-title">Cozy Corner Bookstore</h1>
        </div>

        <!-- KEEP ONLY THIS ONE (right side Categories) -->
        <div class="category-dropdown">
            <p class="dropdown-title">Categories ▾</p>

            <div class="dropdown-menu">
                {% for c in categories %}
                    <p>
                        <a href="/category?cat={{ c.id }}">
                            {{ c.name }}
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </header>


    <!-- ================================
            MAIN CONTENT
    ================================= -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- ================================
            FOOTER
    ================================= -->
    <footer class="site-footer">
        <p>© 2025 Cozy Corner Bookstore — All Rights Reserved</p>
    </footer>

</body>
</html>
